<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Lighter Blogs</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/general.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %> <%- include("partials/sidebar.ejs") %>
    <main class="main-content">
      <!-- Important Story Section -->
      <div class="important-story">
        <div
          class="important-story-main story"
          onclick="location.href='/blogs/<%= importantStory.id %>'"
        >
          <div class="story-genre"><%= importantStory.genre %></div>
          <div class="important-story-heading"><%= importantStory.title %></div>
          <div class="story-writer"><%= importantStory.writer %></div>
          <div class="important-story-cover">
            <img src="<%= importantStory.image %>" alt="story cover" />
          </div>
        </div>

        <!-- Aside Content Stories -->
        <div class="main-story-aside-content">
          <% asideContent.forEach((story, index) => { %>
          <div
            class="aside-content-story-item"
            onclick="location.href='blogs/<%=story.id%>'"
          >
            <div class="story-genre"><%= story.genre %></div>
            <div class="aside-content-story-heading"><%= story.title %></div>
            <div class="story-writer"><%= story.writer %></div>
          </div>
          <% }) %>
        </div>
      </div>

      <!-- Latest Stories Section -->
      <div class="stories">
        <div class="latest-stories">The Latest</div>
        <% latestStories.forEach((story) => { %>
        <div
          class="story-item story"
          onclick="location.href='/blogs/<%=story.id%>'"
        >
          <div class="story-item-left-section">
            <div class="story-genre"><%= story.genre %></div>
            <div class="story-heading"><%= story.title %></div>
            <div class="story-writer"><%= story.writer %></div>
            <div class="upload-time"><%= story.time %></div>
          </div>
          <div class="story-item-middle-section">
            <div class="story-description"><%= story.description %></div>
          </div>
          <div class="story-item-right-section">
            <div class="story-cover">
              <img src="<%= story.image %>" alt="story cover" />
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </main>
    <script src="js/general.js"></script>
  </body>
</html>
